.fundoLogin {
    background-image: url("https://i.imgur.com/gW3YmlF.jpeg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }