.fundodash {
    background-image: url("https://i.imgur.com/esdZJ70.jpg");
    background-size: cover; /* Faz a imagem cobrir toda a tela  "");*/
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede repetição */
    min-height: 100vh; /* Garante que a tela inteira seja coberta */
    width: 100%; /* Faz a imagem ocupar toda a largura */
}
